.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="date"] {
  border: 1px solid white;
  border-radius: 6px;
  margin: 5px;
  padding: 2px;
  outline: none;
}

input {
  background: rgb(92 101 121);
}

.Toastify__toast {
  min-height: 46px !important;
  padding: 6px !important;
  margin-bottom: 5px !important
}

.Toastify__toast-body {
  font-size: 12px;
  margin: 2px 0 !important;
  padding: 2px !important
}


/** Query list */
.stocks__search {
  margin-bottom: 15px;
  display: flex;
  flex-flow: column;
}

.search__input {
  outline: none;
  border-radius: 4px;
  margin-top: 5px;
  border: white;
  padding: 4px
}

.search__result {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-bottom: 15px;
}

.result__list {
  width: 100%;
  position: absolute;
  z-index: 999;
  text-align: start;
  background: rgb(92 101 121);
  border-radius: 4px
}

.list__item {
  cursor: pointer;
  font-size: 12px;
  padding: 4px 5px;
  margin-top: 5px;
  border-bottom: 1px solid white
}

.list__item:last-of-type {
  border-bottom: unset;
}
